<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
</head>
<body style="background-image: url('images/home-bg.png');">
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Home</a>
          </div>
          <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <%for(i=0;i<nav.length;i++){%>
              <li>
                <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
              </li>
              <%}%>
            </ul>
          </nav>
        </div>
      </header>


      <div id="masthead">  
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h1><%=title%>
                <p class="lead"></p>
              </h1>
            </div>
            <div class="col-md-5">
                <div class="well well-lg"> 
                  <div class="row">
                    <div class="col-sm-12">
                      
                    
                    </div>
                  </div>
                </div>
              </div>
          </div> 
        </div><!-- /cont -->

        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="top-spacer"> </div>
              </div>
            </div> 
          </div><!-- /cont -->
    </div>


    <div class="container">
        <div class="row">
          <div class="col-md-12"> 
            <div class="panel">
              <div class="panel-body">
                <div class="row" style="margin:auto;">
                  <div class="col-md-6" style="border-style:double;">
                    <br>
                    <p style="font-weight: bold;"> Don't have an account ? <br>
                        SIGN UP<br></p>
                        <!-- SIGN UP -->
                        <form class="form" id="signupForm" onsubmit="return signupCheck()" action="/signup/auth" method="POST">
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" name='phoneNum' id="phone-signup" required onkeyup="phonevalid()">
                                <div id="phone-signup-msg" class="form-text"></div>
                            </div>
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email address</label>
                                <input type="email" class="form-control" name='mailId' id="email-signup" required onkeyup="emailvalid()">
                                <div id="email-signup-msg" class="form-text"></div>
                            </div>
                            <div class="mb-3">
                                <label for="Password" class="form-label">Password</label>
                                <input type="password" class="form-control" name='pwd' id="passwordSignUp" required onkeyup="passStrength()">
                                <div id="password-signup-msg" class="form-text">Make sure it contains atleast 8 characters including Uppercase, Lowercase, Numbers and special characters.</div>
                            </div>
                            <div class="mb-3">
                                <label for="Password" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" required onkeyup="checkpass()">
                                <div id="confirm-password-signup-msg" class="form-text"></div>
                            </div><br>
                            <button type="submit" id="signupButton" class="btn btn-primary">Sign Up</button>
                        </form>
                        <br>
                        <!-- SIGN UP -->
                </div>
                </div>
                <br>     
              </div>
            </div>                                           
            </div><!--/col-12-->
        </div>
      </div>

      <footer>
        <div class="container">
          <div class="row">
              <ul class="list-inline">
                <li><i class="icon-facebook icon-2x"></i></li>
                <li><i class="icon-twitter icon-2x"></i></li>
                <li><i class="icon-google-plus icon-2x"></i></li>
                <li><i class="icon-pinterest icon-2x"></i></li>
              </ul>
          </div>
        </div>
      </footer>

    
	<!-- script references -->
    <script src="js/custom-script.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
      
</body>
</html>